# Core Framework & Server
fastapi
uvicorn[standard]
python-dotenv

# Database & ORM
sqlmodel
psycopg2-binary # This is for PostgreSQL
alembic

# Security & Authentication (NEW)
passlib 
bcrypt==3.2.2 # For hashing user passwords securely
python-jose[cryptography] # For generating and verifying JWT access tokens
python-multipart # Required by FastAPI to handle OAuth2 forms

# Email & Verification (NEW)
fastapi-mail # For sending the 6-digit OTP codes

# Parsing Engine (Phase 2)
pdfplumber
spacy

# AI Orchestration (Phase 3)
openai
google-generativeai

# Document Export (Phase 3)
weasyprint
jinja2